.calendar {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(50px, auto);
}
.calendar div:nth-child(7n -1) {
    color: #3c6ffa;
}
  
.calendar div:nth-child(7n) {
    color: #ed2a61;
}

.공휴일 {
    color: #ed2a61 !important;
}